<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="beb599">  <td>20/08/04 16:16:16</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SetupQA.QAurl(java.lang.String)[pri:0, instance:MainTestCasesQA.WebsiteRegressionQA@3c153a1]">QAurl</td> 
  <td>main@1125381564</td>   <td></td> </tr>
<tr bgcolor="a2d7b5">  <td>20/08/04 16:16:16</td>   <td>18</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="WebsiteRegressionQA.Create_New_Account()[pri:1, instance:MainTestCasesQA.WebsiteRegressionQA@3c153a1]">Create_New_Account</td> 
  <td>main@1125381564</td>   <td></td> </tr>
<tr bgcolor="beb599">  <td>20/08/04 16:16:16</td>   <td>36</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SetupQA.quitDriver()[pri:0, instance:MainTestCasesQA.WebsiteRegressionQA@3c153a1]">&lt;&lt;quitDriver</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td></td>   <td></td> </tr>
</table>
