<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Website Regression</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="6aad6c">  <td>20/08/04 17:33:09</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="WebsiteRegressionPROD.Create_New_Account()[pri:1, instance:MainTestCasesPROD.WebsiteRegressionPROD@3e3047e6]">Create_New_Account</td> 
  <td>main@728739494</td>   <td></td> </tr>
<tr bgcolor="cbb9b1">  <td>20/08/04 17:33:02</td>   <td>-7279</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SetupPROD.QAurl(java.lang.String)[pri:0, instance:MainTestCasesPROD.WebsiteRegressionPROD@3e3047e6]">QAurl</td> 
  <td>main@728739494</td>   <td></td> </tr>
<tr bgcolor="cbb9b1">  <td>20/08/04 17:33:21</td>   <td>11945</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SetupPROD.quitDriver()[pri:0, instance:MainTestCasesPROD.WebsiteRegressionPROD@3e3047e6]">&lt;&lt;quitDriver</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@728739494</td>   <td></td> </tr>
<tr bgcolor="cbb9b1">  <td>20/08/04 17:32:55</td>   <td>-14189</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SetupPROD.setup(java.lang.String)[pri:0, instance:MainTestCasesPROD.WebsiteRegressionPROD@3e3047e6]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@728739494</td>   <td></td> </tr>
</table>
